<!-- <h1>Valuta: {{baseRate}}</h1>
<h2>Datumes no {{startDate}} lidz {{endDate}}</h2> -->

<!-- <table class="table table-border">
  <thead>
    <th>Datums</th>
    <th>Gbp</th>
    <th>Usd</th>
  </thead>
  <tbody>
    <tr *ngFor="let rate of rates">
      <td>{{rate.date}}</td>
      <td>{{rate.rate.USD}}</td>
      <td>{{rate.rate.GBP}}</td>
    </tr>
  </tbody>
</table>

<div>
  {{rates | json}}
</div> -->

<h1>Todo Items</h1>
<!-- <h2>Datumes no {{startDate}} lidz {{endDate}}</h2> -->

<table class="table table-border">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Status</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Privacy</th>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{todo[1].id}}</td>
      <td>{{todo[1].name}}</td>
      <td>{{todo[1].isComplete}}</td>
      <td>{{todo[1].creationTime | date}}</td>
      <td>{{todo[1].updateTime | date}}</td>
      <td>{{todo[1].secret}}</td>
    </tr>
  </tbody>
</table>

<form novalidate name="frm1">
  <div class="input-group col-md-12">
      <input type="text" class="form-control input-lg" name="firstName" ng-model="user.firstName" />
      <input type="text" class="form-control input-lg" name="lastName" ng-model="user.lastName" />
  </div>
</form>


<!-- <div>
  {{todos | json}}
</div> -->
